/* Carousel picture allignment */
div.c-wrapper {
    width: 80%; /* for example */
    margin: auto;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}
/* User creation animation still needs work */
.show-hide-message.ng-hide-remove {
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation: .3s both ease;
}

.spinner {
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    animation: sping 1s infinite;
}

@keyframes spin {
    from { transform: rotate(0deg) }
    to   { transform: rotate(360deg)}
}

@-webkit-keyframes spin {
    from { transform: rotate(0deg)}
    to   { transform: rotate(360deg) }
}

@-moz-keyframes spin {
    from { transform: rotate(0deg)}
    to   { transform: rotate(360deg)}
}

.column{
    width: 35%;
    padding: 15px;
}

#socialmediasignin{
    float:left;
    width: 200px;
}

#newuser{
    float:right;
    width:200px;
    height:10px;
}

.clear {
    clear:both;
}

/**!Below is the footer\**/

.center{
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -300px;
}
.footer, .push {
    height: 150px;
}

.footer{
       color: white;
       background-color: #00bfff;
}
.footer ul{
    margin:0 auto;
    display: inline-block;
}
.footer li{
    float: left;
    display:block;
    list-style: none;
    margin:0 auto;
}
.footer img{
    margin: 15px;
}
.footer img:hover{
    transform: scale(2);
    -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 2s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

{@media only screen and (max-width: 375px)}


