div.c-wrapper {
    width: 80%; /* for example */
    margin: auto;
}

.jumbotron {
    background-color: #ffffff;
    color:#00bfff;

    }

/*Carousel style below*/

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-inner {
    background-color:#0c3558 ;

}

.show-hide-message.ng-hide-remove {
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation: .3s both ease;
}

.spinner {
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    animation: sping 1s infinite;
}

@keyframes spin {
    from { transform: rotate(0deg) }
    to   { transform: rotate(360deg)}
}

@-webkit-keyframes spin {
    from { transform: rotate(0deg)}
    to   { transform: rotate(360deg) }
}

@-moz-keyframes spin {
    from { transform: rotate(0deg)}
    to   { transform: rotate(360deg)}
}

/*Nav bar style below*/

.navbar-default {
    background-color:#0c3558;
    color:#ffffff;
    border-radius:0;
}
.navbar-default .navbar-nav > li > a {
    color:#ffffff;
    font-family: 'Tangerine', cursive;
    font-size: 25px ;
}
.navbar-default .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-default .navbar-brand {
    color:#eeeeee;
    font-family: 'Tangerine', cursive;
    font-size: 35px;
    /*text-shadow: 4px 4px 4px #000000;*/

}

/*Home page style below*/

.main-header{
    font-family: 'Amita', cursive;
    font-size: 30pt;
    /*text-shadow: 4px 4px 4px #000000*/
}
.header-subtitle{
    font-size: 25pt;
}


.bio-header{
    font-family: 'Tangerine', cursive;
    font-size:48px ;
    /*text-shadow: 4px 4px 4px #000000*/
}

.biography{
    font-family: 'Taviraj', serif;
    text-align:justify;
    text-indent: 2rem;
    font-size:12pt;
}

/* Sign-up page style below */

.column{
    width: 45%;
    padding: 15px;
}
#socialmediasignin{
    float:left;
    width: 200px;
}
#newuser{
    float:right;
    width:200px;
    height:10px;
}
.clear {
    clear:both;
}
/**!Below is the footer\**/

.center{
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -150px;                                                                                              /* Equal to height of footer */
}
.footer, .push {
    height: 150px;
}

.footer{
       color: #ffffff;
       background-color: #0c3558;
}
.footer ul{
    margin:0 auto;
    display: inline-block;
}
.footer li{
    float: left;
    display:block;
    list-style: none;
    margin:0 auto;
}
.footer img{
    margin: 15px;
}
.footer img:hover{
    transform: scale(2);
    -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 2s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

{@media only screen and (max-width: 375px)}


