

<h1 class="text-center"> Löris' Art Gallery</h1>

<div class="container thumbnail-gallery">

    <a href="assets/images/fullsize/FullSizeRender_1.jpg" data-lightbox="gallery"
       data-title="Change this text to photo description"><img
            src="assets/images/thumbnail/FullSizeRender_1_thumbnail.jpg" alt=""></a>

    <a href="assets/images/fullsize/FullSizeRender_2.jpg" data-lightbox="gallery"
       data-title="Change this text to photo description"><img
            src="assets/images/thumbnail/FullSizeRender_2_thumbnail.jpg" alt=""></a>

    <a href="assets/images/fullsize/FullSizeRender_3.jpg" data-lightbox="gallery"
       data-title="Change this text to photo description"><img
            src="assets/images/thumbnail/FullSizeRender_3_thumbnail.jpg" alt=""></a>

    <a href="assets/images/fullsize/FullSizeRender_4.jpg" data-lightbox="gallery"
       data-title="Change this text to photo description"><img
            src="assets/images/thumbnail/FullSizeRender_4_thumbnail.jpg" alt=""></a>

    <a href="assets/images/fullsize/FullSizeRender_5.jpg" data-lightbox="gallery"
       data-title="Change this text to photo description"><img
            src="assets/images/thumbnail/FullSizeRender_5_thumbnail.jpg" alt=""></a>

    <a href="assets/images/fullsize/FullSizeRender_7.jpg" data-lightbox="gallery"
       data-title="Change this text to photo description"><img
            src="assets/images/thumbnail/FullSizeRender_7_thumbnail.jpg" alt=""></a>

    <a href="assets/images/fullsize/IMG_0359.JPG" data-lightbox="gallery" class="rotate"
       data-title="Change this text to photo description"><img src="assets/images/thumbnail/IMG_0359_thumbnail.jpg"
                                                               alt=""></a>

    <a href="assets/images/fullsize/IMG_0355.JPG" data-lightbox="gallery" class="rotate"
       data-title="Change this text to photo description"><img src="assets/images/thumbnail/IMG_0355_thumbnail.jpg"
                                                               alt=""></a>

    <a href="assets/images/fullsize/FullSizeRender_8.jpg" data-lightbox="gallery"
       data-title="Change this text to photo description"><img
            src="assets/images/thumbnail/FullSizeRender_8_thumbnail.jpg" alt=""></a>

    <a href="assets/images/fullsize/FullSizeRender_6.jpg" data-lightbox="gallery"
       data-title="Change this text to photo description"><img
            src="assets/images/thumbnail/FullSizeRender_6_thumbnail.jpg" alt=""></a>

    <a href="assets/images/fullsize/FullSizeRender_9.jpg" data-lightbox="gallery"
       data-title="Change this text to photo description"><img
            src="assets/images/thumbnail/FullSizeRender_9_thumbnail.jpg" alt=""></a>

    <a href="assets/images/fullsize/FullSizeRender.jpg" data-lightbox="gallery"
       data-title="Change this text to photo description"><img
            src="assets/images/thumbnail/FullSizeRender_thumbnail.jpg" alt=""></a>

    <a href="assets/images/fullsize/IMG_0350.JPG" data-lightbox="gallery" class="rotate"
       data-title="Change this text to photo description"><img src="assets/images/thumbnail/IMG_0350_thumbnail.jpg"
                                                               alt=""></a>

    <a href="assets/images/fullsize/IMG_0351.JPG" data-lightbox="gallery" class="rotate"
       data-title="Change this text to photo description"><img src="assets/images/thumbnail/IMG_0351_thumbnail.jpg"
                                                               alt=""></a>

    <a href="assets/images/fullsize/IMG_0352.JPG" data-lightbox="gallery" class="rotate"
       data-title="Change this text to photo description"><img src="assets/images/thumbnail/IMG_0352_thumbnail.jpg"
                                                               alt=""></a>

    <a href="assets/images/fullsize/IMG_0354.JPG" data-lightbox="gallery" class="rotate"
       data-title="Change this text to photo description"><img src="assets/images/thumbnail/IMG_0354_thumbnail.jpg"
                                                               alt=""></a>

    <a href="assets/images/fullsize/IMG_0360.JPG" data-lightbox="gallery" class="rotate"
       data-title="Change this text to photo description"><img src="assets/images/thumbnail/IMG_0360_thumbnail.jpg"
                                                               alt=""></a>

    <a class="rotate" href="assets/images/fullsize/IMG_0374.JPG" data-lightbox="gallery"
       data-title="Change this text to photo description"><img src="assets/images/thumbnail/IMG_0374_thumbnail.jpg"
                                                               alt=""></a>

    <a href="assets/images/fullsize/IMG_0369.JPG" data-lightbox="gallery" class="rotate"
       data-title="Change this text to photo description"><img src="assets/images/thumbnail/IMG_0369_thumbnail.jpg"
                                                               alt=""></a>

    <a href="assets/images/fullsize/IMG_0370.JPG" data-lightbox="gallery" class="rotate"
       data-title="Change this text to photo description"><img src="assets/images/thumbnail/IMG_0370_thumbnail.jpg"
                                                               alt=""></a>

    <a href="assets/images/fullsize/IMG_0372.JPG" data-lightbox="gallery" class="rotate"
       data-title="Change this text to photo description"><img src="assets/images/thumbnail/IMG_0372_thumbnail.jpg"
                                                               alt=""></a>

    <a href="assets/images/fullsize/IMG_0373.JPG" data-lightbox="gallery" class="rotate"
       data-title="Change this text to photo description"><img src="assets/images/thumbnail/IMG_0373_thumbnail.jpg"
                                                               alt=""></a>

    <a href="assets/images/fullsize/IMG_0362.JPG" data-lightbox="gallery" class="rotate"
       data-title="Change this text to photo description"><img src="assets/images/thumbnail/IMG_0362_thumbnail.jpg"
                                                               alt=""></a>
</div>