<br>

<h1 style="font-weight: bold;" class="text-center">Contact Löris</h1>

<br>

<h4 class="text-center"> I'm available for freelance work. I want to hear about your projects!</h4>

<br>
<br>

<div class="contact center container">

    <button class="btn btn-primary btn-circle"><a href="mailto:takoridesigns@gmail.com?Subject=Hello%20again" target="_top"><i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i></a></button>

    <button class="btn btn-primary btn-circle"><a href="https://www.linkedin.com/in/l%C3%B6ris-takori-a338b0ba" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a></button>

    <button class="btn btn-primary btn-circle"><a href="https://www.facebook.com/loris.takori"><i class="fa fa-facebook-square fa-3x"></i></a></button>

    <button class="btn btn-primary btn-circle"><a href="https://www.instagram.com/dimples.fordays_/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a></button>

    <button class="btn btn-primary btn-circle"><a href="https://twitter.com/dimplesfordayz" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a></button>

</div>

