<div class="jumbotron">
    <h1 class="text-center">Loris Takori</h1>
    <p class="text-center">Welcome to my portfolio and shop site!</p>
</div>

<!-- Carousel of new artwork or products -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="assets/images/Untitled.png" alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="assets/images/angular.png" alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        ...
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br>
<br>
<br>
<br>

<div class="container">
<h1>A little more about me: Loris Takori!</h1>
<p>
     &nbsp &nbsp   Spicy jalapeno bacon ipsum dolor amet bresaola chicken kevin, shankle filet mignon shoulder pastrami swine fatback
    boudin short loin burgdoggen <br> beef ribs pork belly venison. Filet mignon tongue short ribs leberkas, pork belly cupim
    tenderloin pork loin boudin bacon porchetta tri-tip chicken beef. <br>Tongue andouille kielbasa meatloaf, sausage strip
    steak pig picanha pork doner tenderloin ball tip. Brisket t-bone landjaeger, jerky doner bresaola pig <br> turkey tenderloin
    flank. Hamburger kevin jerky capicola tail beef ribs strip steak andouille.
    <br>
    &nbsp &nbsp   Jerky prosciutto boudin doner t-bone pancetta. Shoulder burgdoggen cow, ham hock tongue porchetta beef ribs pork ground
    round meatloaf landjaeger cupim venison t-bone. Bresaola pork loin kevin bacon ball tip shoulder swine biltong meatloaf
    <br>
    meatball kielbasa spare ribs doner. Burgdoggen shankle beef turducken sirloin salami strip steak.
    <br>

    &nbsp &nbsp  Brisket chuck short loin boudin ham hock landjaeger bresaola, beef flank. Ham beef ribs jowl pork loin turducken. Pastrami
    boudin short ribs biltong meatloaf turkey beef kielbasa turducken picanha bresaola corned beef cupim brisket. Swine alcatra
    <br>
    hamburger filet mignon landjaeger, sausage boudin beef corned beef tongue prosciutto beef ribs pork. Beef shoulder strip steak
    alcatra, chuck cupim short ribs. Biltong cow beef tail jowl venison pancetta.
    <br>

    &nbsp &nbsp    Pork belly ball tip cupim sausage pastrami pork chop. Rump ham hock bacon bresaola pork loin, beef short loin. Picanha pork chop
    kielbasa bresaola, biltong short loin leberkas ham swine beef ribs ball tip fatback. Pork loin cupim kielbasa chicken salami spare
    <br>
    ribs burgdoggen pancetta flank kevin ground round. Capicola picanha ham porchetta meatball frankfurter short loin pig tongue pork.
    Shankle meatloaf corned beef picanha pork chop cupim.
    <br>
    &nbsp &nbsp    Bacon ball tip shank pork belly, salami tongue tenderloin fatback brisket pig. Spare ribs boudin jerky porchetta brisket. Strip
    steak shankle pancetta corned beef jerky salami doner tongue leberkas chuck landjaeger t-bone spare ribs venison filet mignon. Biltong
    <br>
    burgdoggen chuck strip steak shank flank leberkas. Ham cow strip steak kielbasa chuck shankle ground round pancetta boudin pork belly
    drumstick meatloaf. Beef ribs kielbasa boudin, ribeye fatback shoulder pig ham pork hamburger tongue ball tip swine t-bone.
    <br>
</p>
</div>