<div class="container">
<h1 class="text-center">Loris' Most Recent Work</h1>
    <br>
    <br>
    <div class="custom-container">
    <div id="rotation">
        <figure><img src="assets/images/IMG_0374.JPG" alt=""></figure>
        <figure><img src="assets/images/IMG_0373.JPG" alt=""></figure>
        <figure><img src="assets/images/IMG_0372.JPG" alt=""></figure>
        <figure><img src="assets/images/IMG_0370.JPG" alt=""></figure>
        <figure><img src="assets/images/IMG_0369.JPG" alt=""></figure>
        <figure><img src="assets/images/IMG_0362.JPG" alt=""></figure>
        <figure><img src="assets/images/IMG_0360.JPG" alt=""></figure>
        <figure><img src="assets/images/IMG_0359.JPG" alt=""></figure>
        <figure><img src="assets/images/IMG_0355.JPG" alt=""></figure>
    </div>
    </div>
</div>
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->