<div class="container">
    <div class="page-header text-center">
        <h1>New User Sign Up</h1>
    </div>
</div>
<div class="signup_backround_color">
    <div class="container">
        <form action="">
            <label>First Name:</label>
            <input type="text" placeholder="First Name" class="form-control input-sm">
            <br>
            <label>Last Name:</label>
            <input type="text" placeholder="Last Name" class="form-control input-sm">
            <br>
            <label>Username:</label>
            <input type="text" placeholder="Usernanme" class="form-control input-sm">
            <br>
            <label>E-mail:</label>
            <input type="text" placeholder="JohnDoe@LorisK.com" class="form-control input-sm">
            <br>
            <label>Password:</label>
            <input type="text" placeholder="Password" class="form-control input-sm">
            <br>
            <input type="submit" class="btm btn-primary btn-lg pull-right">

        </form>
    </div>
</div>