<div class="page-header">
<h1>This login page is here</h1>
</div>


<div class="signup_backround_color">
    <div class="container">
        <form action="">
            <label>Username:</label>
            <input type="text" placeholder="Usernanme" class="form-control input-sm">
            <br>
            <label>Password:</label>
            <input type="text" placeholder="Password" class="form-control input-sm">
            <br>
            <input type="submit" class="btm btn-primary btn-lg pull-right">
        </form>
    </div>
</div>