<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-text pull-left">
        <p>&copy 2017 Takori Designs </p>
        </div>
        <div class="navbar-text pull-right">
            <a href="https://www.facebook.com/loris.takori"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="https://www.facebook.com/loris.takori"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="https://www.facebook.com/loris.takori"><i class="fa fa-instagram fa-2x"></i></a>
            <a href="https://www.facebook.com/loris.takori"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </div>
    </div>



</div >








<!--<footer class="footer">-->
    <!--<div class="center">-->
        <!--<h4 class="center">Check me out on my other social media sites!</h4>-->
        <!--<ul id="group">-->
            <!--<li><a href="https://www.facebook.com/loris.takori" target="_blank"><img src="assets/images/Logos/facebook.png" alt="Facebook"/></a></li>-->
            <!--<li><a href="https://www.instagram.com/dimples.fordays_/" target="_blank"><img src="assets/images/Logos/instagram.png" alt="Instagram"/></a></li>-->
            <!--<li><a href="https://twitter.com/dimplesfordayz" target="_blank"><img src="assets/images/Logos/twitter.png" alt="Twitter"/></a></li>-->
            <!--<li><a href="https://www.linkedin.com/in/l%C3%B6ris-takori-a338b0ba" target="_blank"><img src="assets/images/Logos/linkedin.png" alt="LinkedIn"/></a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</footer>-->



