<!-- Navigation Bar -->
<header class="custom-header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><strong>Takori Designs</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li><a href="/signup">Sign-Up<span class="sr-only">(current)</span></a></li>                        &lt;!&ndash; ng-show=!main.isLoggedIn" &ndash;&gt;-->
                    <!--<li><a href="/signin">Sign-In</a></li>                                                              &lt;!&ndash; ng-show=!main.isLoggedIn" &ndash;&gt;-->
                    <li><a href="/photos">Art Work</a></li>
                    <!--<li><a href="#" ng-click="main.logout()">Logout</a></li>                                            &lt;!&ndash; ng-show=!main.isLoggedIn" &ndash;&gt;-->
                    <li class="dropdown">                                                                               <!-- ng-show=!main.isLoggedIn" -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Shop <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider">Tops</li>
                            <li><a href="#">Hoodies</a></li>
                            <li role="separator" class="divider">Bottoms</li>
                            <li><a href="#">Sweatpants</a></li>
                            <li role="separator" class="divider">Feet</li>
                            <li><a href="#">Shoes</a></li>
                            <li role="separator" class="divider">Accessories</li>
                            <li><a href="#">Beanies</a></li>
                        </ul>
                    <!--<li><a href="/profile">Hello, <strong>{{main.userFirstName}}</strong></a></li>                      &lt;!&ndash; ng-show=!main.isLoggedIn" &ndash;&gt;-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
