<div class="container">
    <div class="page-header text-center">
        <h1>New User Sign Up</h1>
    </div>
</div>
<div class="signup_backround_color">
    <div class="container">
        <form action="" ng-submit="register.regUser(regData)">                                                                      <!-- ng-submit is needed on this form tag or the div that will wrap all the inputs and the button -->
            <label>First Name:</label>
            <input type="text" placeholder="First Name" class="form-control input-sm" ng-model="register.regData.firstName">        <!-- the ng-model is needed just as it is on all input fields -->
            <br>
            <label>Last Name:</label>
            <input type="text" placeholder="Last Name" class="form-control input-sm" ng-model="register.regData.lastName">          <!-- take note that all the ng-models are not the same each one ends in the property that it occupies -->
            <br>
            <label>Username:</label>
            <input type="text" placeholder="Usernanme" class="form-control input-sm" ng-model="register.regData.username">
            <br>
            <label>E-mail:</label>
            <input type="text" placeholder="JohnDoe@LorisK.com" class="form-control input-sm" ng-model="register.regData.email">
            <br>
            <label>Password:</label>
            <input type="text" placeholder="Password" class="form-control input-sm" ng-model="register.regData.password">
            <br>
            <input type="submit" class="btm btn-primary btn-lg pull-right">
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<p class="text-center">If you already have an account please login <a href="/login">here</a>.</p>