<div class="container">
    <div class="page-header text-center">
        <h1>User Login</h1>
    </div>
</div>


<div class="signup_backround_color">
    <div class="container">
        <form class="container" ng-submit="main.doLogin(loginData)">
            <label>Username:</label>
            <input type="text" class="form-control input-sm" ng-model="main.loginData.username">
            <br>
            <label>Password:</label>
            <input type="text" class="form-control input-sm" ng-model="main.loginData.password">
            <br>
            <button class="btn btn-primary" type="submit">Sign In</button>&nbsp;
            <a href="/auth/facebook" target="_blank"><button type="button" class="btn btn-success">Facebook</button></a>
        </form>
        <br>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="jumbotron text-center" ng-show="main.loading">
    <span glyphicon glyphicon-repeat spinner></span>
    <p>Loading...</p>
</div>

<div class="row show-hide-message" ng-show="main.successMessage">
    <div class="alert alert-success"> {{ main.successMessage }} </div>
</div>

<br>

<div class="row show-hide-message" ng-show="main.errorMessage">
    <div class="alert alert-danger">{{ main.errorMessage }}</div>
</div>