<div class="container">
    <div class="page-header text-center">
        <h1>User Login</h1>
    </div>
</div>


<div class="signup_backround_color">
    <div class="container">
        <form class="container" ng-submit="register.regUser(regData)">
            <label>E-mail:</label>
            <input type="text" class="form-control input-sm" ng-model="register.regData.email">
            <br>
            <label>Password:</label>
            <input type="text" class="form-control input-sm" ng-model="register.regData.password">
            <br>
            <button class="btn btn-primary" type="submit">Sign In</button>
        </form>
        <br>
    </div>
</div>

